/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #B51BE4;
  --ifm-color-primary-dark: #8D15B1;
  --ifm-color-primary-darker: #650F7F;
  --ifm-color-primary-darkest: #3C094C;
  --ifm-color-primary-light: #C64EEA;
  --ifm-color-primary-lighter: #D680F0;
  --ifm-color-primary-lightest: #E6B3F6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #B51BE4;
  --ifm-color-primary-dark: #8D15B1;
  --ifm-color-primary-darker: #650F7F;
  --ifm-color-primary-darkest: #3C094C;
  --ifm-color-primary-light: #C64EEA;
  --ifm-color-primary-lighter: #D680F0;
  --ifm-color-primary-lightest: #E6B3F6;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
