.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.sectionTitle {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.sectionSubtitle {
  font-size: 1.25rem;
  margin: 0 auto;
  text-align: start !important;
  align-content: start !important;
}


.featureSvg {
  height: 200px;
  width: 200px;
}

.featureCard {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #322E3A !important;
}

.featureCard:hover {
  text-decoration: none;
  color: inherit;
  transform: translateY(-3px);
  border-color: #454051 !important;
}

.featureTitle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.iconInline {
  font-size: 24px;
  color: var(--ifm-color-primary);
}